* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: system-ui, sans-serif;
    color: #FFF8DC;
    background-color: #181818FF;
}

li, ul {
    font-size: 2rem;
}

a {
    text-decoration: underline;
    color: #FFF8DC;
}

img {
    max-width: 100%;
}

p {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h1 {
    font-size: 3rem;
}



.page {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: #111;
}

.navbar a {
    color: #FFF8DC;
}

.nav-list {
  list-style: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .a {
    color: white;
}

/* Push items to the right */
.spacer {
  flex: 1;
}

.logo {
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.home-link:hover {
    opacity: 0.8;
}

.main-list li {
    font-size: 2rem;
    margin: 35px
}

/* Main content */
.container {
    min-height: calc(100vh - 56px);
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

